*{
    padding: 0;
    margin: 0;
  }
  .container-fluid{
  width: 100%;
  padding: 10px;
  border: 2px solid rgb(10, 10, 10);
  margin: 0;
  text-align: right;
}
.header{
    background-image: url(../backgrounds/hero.jpg);
}
.gallery0{
    float: none;
}
.gallery1{
    float: left;
}
.gallery2{
    float: right;
}
.gallery3{
float: left;
}
.gallery4{
    float: right;
}
.gallery5{
    float: left;

}
div{
    float: left;
    padding: 15px;