*{
    padding: 0;
    margin: 0;
  }
  h1{
    
  }
  #container-fluid{
  
  .card{
  }
  .card-title{
      text-align: right;
      font-family: sans-serif;
      width: 100%;
      border: 20% solid rgb(228, 150, 5);
      padding: 70%x;
      margin: 20%;
  }